@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    background-color: #00324E;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.new_post_height {
    height: calc(100vh - 48px);
}